APP_NAME="Music Archive"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://music-archive-v2.onrender.com

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=sqlite
DB_DATABASE=/var/www/html/database/database.sqlite

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

GOOGLE_DRIVE_CLIENT_ID=933071131135-4a3202m5ol81sv8cbvvdpm9uaom7b1ss.apps.googleusercontent.com
GOOGLE_DRIVE_CLIENT_SECRET=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
GOOGLE_DRIVE_REDIRECT_URI=https://music-archive-v2.onrender.com/auth/callback

IMPORT_SECRET=musicarchive2024
